
<div class="body d-flex align-items-center">
  <div id="large-header" class="large-header w-100">
    <div class="container fluid d-flex justify-content-center">
      <div class="col-sm-5">
        <mat-card class="principal-card">
          <mat-card-header>
            <mat-card-title><img src="./assets/img/Logoazul.png" class="img-principal" width="40%"></mat-card-title>
            <mat-card-subtitle>Sistema de Monitoreo de OLTs </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
              <p>
                <mat-form-field appearance="fill" >
                  <mat-label>Usuario</mat-label>
                  <input matInput placeholder="Nombre de usuario" formControlName="u" required>
                  <mat-icon matSuffix>account_circle</mat-icon>

                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="fill" >
                  <mat-label>Contrseña</mat-label>
                  <input matInput type="password" placeholder="Clave de acceso" formControlName="p" required>
                  <mat-icon matSuffix>vpn_key</mat-icon>

                </mat-form-field>
              </p>
              <p class="card-class">
                <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button
                  class="bot">Entrar</button>
              </p>
            </form>
          </mat-card-content>

        </mat-card>
      </div>

    
  
    </div>
  </div>
  <br><br>
</div>