.login {
    justify-content: center;
    height: 200px;
    align-items: center;  
    /* background-color: #d4dde6; */
    padding: 3%;
    border-radius: 4%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 80% !important;
}
.mat-form-field{
    width: 80% !important;
}

::ng-deep .mat-form-field-infix {
    width: 10%;
    height: 15px ;
    font-size: 14px;
    padding: 0px;
    border-top: 3px solid rgba(0,0,0,0);
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0);
    padding-top: 0px;
}



.table-response th{
    text-align: center !important;
}
.table-response td{
    font-size: 13px !important;
    text-align: center !important;
}
.mat-typography {
    min-width: 500px;
}

.mat-typography2 {
    min-width: 500px;
}

.mat-form-field {
    margin: 40px 0;
    width: 500px !important;
}
.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.mat-toolbar-single-row button {
    width: 200px;
}
.mat-form-field {
    width: 100%;
}
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.swal2-confirm {
    background-color: #1565c0 !important;
}

.mat-header-cell {
    text-align: center;
    background: rgb(59, 69, 89);
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
  
  }

  .mat-cell{

    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-overflow: ellipsis;
  }
