
<span class="title-center2"> Detalle de OLTs</span>
<br><br>
<mat-divider></mat-divider>
<br>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header class="panelTitle">
      <mat-panel-title >
          <img  class="icon-avata" src="./assets/img/search.SVG"/>
        
      </mat-panel-title>
      <mat-panel-description>
          Criterios de búsqueda
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field >
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>    
  </mat-expansion-panel>
</mat-accordion>

<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table id="my-table-id" >
  <ng-container matColumnDef="opciones">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button [matMenuTriggerFor]="animals" aria-label="Example icon-button with a menu">
        <mat-icon matTooltip="Acciones" >settings</mat-icon>
      </button>
      <mat-menu #animals="matMenu">
        <!--button mat-menu-item [matMenuTriggerFor]="asignar">Poleo metrica</button -->
        <button mat-menu-item  (click)="descubrimientoManual()" >&nbsp;&nbsp;Descubrimiento</button>
      </mat-menu>
      <mat-menu #asignar="matMenu" >
        <button mat-menu-item (click)="poleoMetrica(item.bloque)"  *ngFor="let item of blo" >{{item.nombre}}</button>
      </mat-menu>  
    </th>
    <td mat-cell *matCellDef="let element"> </td>
  </ng-container>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
     
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox   (click)="selec(selection.isSelected(row),row.ip)"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [disabled]="false"
                   >
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="ip">
    <th mat-header-cell *matHeaderCellDef> IP OLT </th>
    <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="tecnologia">
    <th mat-header-cell *matHeaderCellDef> Tecnología </th>
    <td mat-cell *matCellDef="let element"> {{element.tecnologia}} </td>
  </ng-container>
   <!-- Symbol Column -->
   <ng-container matColumnDef="id_region">
    <th mat-header-cell *matHeaderCellDef> 	Región </th>
    <td mat-cell *matCellDef="let element">  {{element.id_region}} </td>
  </ng-container>
  <ng-container matColumnDef="totalOnts">
    <th mat-header-cell *matHeaderCellDef> 	Total ONTs </th>
    <td mat-cell *matCellDef="let element">  {{element.total_onts}} </td>
  </ng-container>
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> 	Descripción </th>
    <td mat-cell *matCellDef="let element">  {{element.descricion}} </td>
  </ng-container>
  <ng-container matColumnDef="slide">
    <th mat-header-cell *matHeaderCellDef>Estatus para descubrimiento</th>
    <td mat-cell *matCellDef="let row">
      <mat-label ngClass="labelBeforeSlide">Inactivo</mat-label>&nbsp;
      <mat-slide-toggle  (click)="activar(row.id_olt ,row.estatus,row.tecnologia)"
      class="example-margin"
      [color]="color"
      [checked]="row.estatus==1?true:false"
      [disabled]="false"
      
     >
 
  </mat-slide-toggle>
  &nbsp;<mat-label ngClass="labelBeforeSlide">Activo</mat-label>

    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"
      >
  </tr>
</table>

<mat-paginator  #paginator [pageSizeOptions]="[10]" aria-label="Select page of users"></mat-paginator>

<div class="row">
  <div class="col-sm-9"></div>
  <div class="col-sm-2">
    <div class="example-button-container">
      <input type="checkbox" id="btn-mas">
      <div class="redes">
        
        <span  class="btn-mas d-flex justify-content-center align-items-center p-0 " (click)="actaulizaOlts()">
          <mat-icon  matTooltip="Actualización masiva de ONTs"  class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>update</mat-icon>
        </span>
        <!--span *ngIf="intentos>0" class="btn-mas d-flex justify-content-center align-items-center p-0 " (click)="descubrimientoManual()">
          <mat-icon  matTooltip="Descubrimiento manual"  class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>settings_remote</mat-icon>
        </span-->
        <span  class="btn-mas d-flex justify-content-center align-items-center p-0 " (click)="openDetalle()">
          <mat-icon  matTooltip="Detalle de descubrimiento"  class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>dehaze</mat-icon>
        </span>
        <span  class="btn-mas d-flex justify-content-center align-items-center p-0 " (click)="ExportTOExcel()">
          <mat-icon  matTooltip="Exportar a excel"  class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>save_alt</mat-icon>
        </span>
        <span  class="btn-mas d-flex justify-content-center align-items-center p-0 " (click)="openDialog()">
          <mat-icon  matTooltip="Asignación de métricas"  class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>aspect_ratio</mat-icon>
        </span>
     
        <div class="btn-mas">
          <label for="btn-mas" class="d-flex justify-content-center align-items-center p-0">
            <mat-icon  matTooltip="Herramientas" class="p-0 m-0" [ngStyle]="{'color':'aliceblue'}" mat-list-icon>build</mat-icon>
          </label>
      </div>      
    </div>
  </div>

</div>
</div>
