
    <mat-card class="contenedor">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <mat-card class="parametros">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img  class="icon-avata" src="./assets/img/proceso-green.png"/>
                                   
                                </div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <h4>Jobs Ejecutados</h4>&nbsp;
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <mat-card class="conteo">
                                       <p>9/18</p> 
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-sm-6">
                    <mat-card class="parametros">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img  class="icon-avata" src="./assets/img/proceso-red.png"/>
                                   
                                </div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <h4>Jobs Error</h4>&nbsp;
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <mat-card class="conteo">
                                       <p>5</p> 
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
<br>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <mat-card class="parametros">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img  class="icon-avata" src="./assets/img/con-conexion.png"/>
                                   
                                </div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <h4>ONT’s En línea</h4>&nbsp;
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <br><br>
                                    <mat-card class="conteo">
                                       <p>4M</p> 
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>

                <div class="col-sm-6">
                    <mat-card class="parametros">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img  class="icon-avata" src="./assets/img/sin-conexion.png"/>
                                   
                                </div>
                                <div class="col-sm-5">
                                    <br><br>
                                    <h4>ONT’s Fuera de Línea</h4>
                                </div>
                
                                <div class="col-sm-3">
                                    <br><br>
                                    <mat-card class="conteo">
                                       <p>600</p> 
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>

    </mat-card>
